@tailwind base;
@tailwind components;
@tailwind utilities;

html {
        scroll-behavior: smooth;
}

html::-webkit-scrollbar {
        display: none;
}

.box-heading-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }

 .box-inner-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
            line-clamp: 6; 
    -webkit-box-orient: vertical;
 }

 /* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }